.signup-background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .expense-tracker-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .expense-tracker-text h1 {
    font-size: 6rem;
    color: rgba(0, 128, 0, 0.1); 
    margin: 0;
  }
  
  .signup-card {
    position: relative;
    z-index: 1;
  }
  
  .expense-tracker-text .expense {
    margin-right: auto;
    padding-left: 20px; 
  }
  
  .expense-tracker-text .tracker {
    margin-right: 20px;
    padding-right: 20px; 
  }
  